# Yandex Music token. How to obtain:
# https://yandex-music.readthedocs.io/en/main/token.html
YANDEX_MUSIC_TOKEN=

# Spotify app credentials from https://developer.spotify.com/dashboard
# Set Redirect URI in the app to match SPOTIFY_REDIRECT_URI below.
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=http://127.0.0.1:8888/callback
